<GeneticProgramming>
	<Algorithm name="SteadyStateTournamentTwoOperators">
		<PopulationSize>500</PopulationSize>
		<ParamK>3</ParamK>
		<Termination>
			<Entry name="NumberOfGenerations">100</Entry>
		</Termination>
	</Algorithm>
	
	<Tree>
		<MaxDepth>8</MaxDepth>
		<MinDepth>3</MinDepth>
		<FunctionSet>+ - * / ifRadniDan</FunctionSet>
	</Tree>

	<Crossover>
		<Name>UniformCrossover</Name>
	</Crossover>
	
	<Mutation>
		<Name>HoistMutation</Name>
		<MutFactor>0.025</MutFactor>
		<ExtraConstantMutation>true</ExtraConstantMutation>
	</Mutation>
	
	<Evaluation>
		<TrainEvaluator>MSE</TrainEvaluator>
		<Crossvalidation>false</Crossvalidation>
		<Data>
			<DataPath>PoSatima/sat{ID}.txt</DataPath>
			<PreviousLoads>5</PreviousLoads>
		</Data>
	</Evaluation>
	
	<Log>
		<GenerationFrequency>5</GenerationFrequency>
		<FileName>Logovi/log{ID}.txt</FileName>
		<BatchNo>10</BatchNo>
	</Log>
</GeneticProgramming>
