<GeneticProgramming>
	<Algorithm name="SteadyStateTournament">
		<PopulationSize>150</PopulationSize>
		<ParamK>3</ParamK>
		<Termination>
			<Entry name="NumberOfGenerations">200</Entry>
		</Termination>
	</Algorithm>
	
	<Tree>
		<MaxDepth>8</MaxDepth>
		<MinDepth>3</MinDepth>
		<FunctionSet>+ - * /</FunctionSet>
	</Tree>

	<Crossover name="SimpleCrx">
	</Crossover>
	
	<Mutation name="SimpleMut">
		<MutFactor>0.01</MutFactor>
	</Mutation>
	
	<Evaluation>
		<TrainEvaluator>MSE</TrainEvaluator>
		<Crossvalidation>true</Crossvalidation>
		<FoldSize>20</FoldSize>
	</Evaluation>

	<Log>
		<GenerationFrequency>10</GenerationFrequency>
		<FileName>../../log.txt</FileName>
	</Log>
</GeneticProgramming>
